.heading
{
    width:100%;
    margin:0px;
    font-size:23px;
}
 
.note
{
    color:black;
    font-size:15px;
}

body
{
 background-size:cover;
}

#song
{
    font-size:25px;
    margin:15px;
}

canvas
{
border:5px solid orange;
border-radius:20px;
}